<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exploring AI Fairness in Education : Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-anwsome.css')}}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>


    <!-- Js show and Hide gender and race Time line -->
    <script>
        $(function(){
            $('#raceTimeLine').hide();
            $('#hispTimeLine').hide(); 
            $('#studDynamicAct').change(function(e){
                var changedAttr = this.value;
                if (changedAttr == 'race'){
                    $('#raceTimeLine').show();
                    $('#genderTimeLine').hide();
                    $('#hispTimeLine').hide();
                }
                else if (changedAttr == 'gender'){
                    $('#raceTimeLine').hide();
                    $('#genderTimeLine').show();
                    $('#hispTimeLine').hide();                   
                }
                else{
                    $('#raceTimeLine').hide();
                    $('#genderTimeLine').hide();
                    $('#hispTimeLine').show();
                }
            });

            $('#rainFallHisp').hide();
            $('#rainFallRace').hide();
            $('#studSankeyPlot').change(function(e){
                var changedAttr = this.value;
                if (changedAttr == 'gender'){
                    $('#rainFallGender').show();
                    $('#rainFallHisp').hide();
                    $('#rainFallRace').hide();
                }
                else if (changedAttr == 'race'){
                    $('#rainFallGender').hide();
                    $('#rainFallHisp').hide();
                    $('#rainFallRace').show();
                }
                else{
                    $('#rainFallGender').hide();
                    $('#rainFallHisp').show();
                    $('#rainFallRace').hide();
                }
            })

            $('#boxplotRace').hide();
            $('#boxplotHisp').hide();
            $('#studBoxPlot').change(function(e){
                var changedAttr = this.value
                if (changedAttr == 'gender'){
                    $('#boxplotGender').show();
                    $('#boxplotHisp').hide();
                    $('#boxplotRace').hide();
                }
                else if (changedAttr == 'race'){
                    $('#boxplotGender').hide();
                    $('#boxplotHisp').hide();
                    $('#boxplotRace').show();
                }
                else{
                    $('#boxplotGender').hide();
                    $('#boxplotHisp').show();
                    $('#boxplotRace').hide();
                }

            })

        })
    </script>

</head>

<body>    
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">FairInspection</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Doe</strong>
                                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">28% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                            <span class="sr-only">28% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">85% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                            <span class="sr-only">85% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a class="active-menu" href="/index.html"><i class="fa fa-dashboard"></i>Learning Behavior Analysis</a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-dashboard"></i>Model Performance Evaluation</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="model_lr.html">Logistic Regression</a>
                            </li>
                            <li>
                                <a href="model_svm.html">Support Vector Machine</a>
                            </li>
                            <li>
                                <a href="model_dt.html">Decision Tree</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"> <i class="fa fa-dashboard"></i>Fairness Evaluation</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="fairness_lr.html">Logistic Regression Fairness</a>
                            </li>
                            <li>
                                <a href="fairness_svc.html">Support Vector Machine Fairness</a>
                            </li>
                            <li>
                                <a href="fairness_dt.html">Decision Tree Fairness</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->


        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Understanding <small>Student Learning Patterns</small>
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-green">
                            <div class="panel-body">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                                {{genderDist}}
                            </div>
                            <div class="panel-footer back-footer-green">
                                Gender Distribution
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-blue">
                            <div class="panel-body">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                                <h3>{{ hispanicDist }}</h3>
                            </div>
                            <div class="panel-footer back-footer-blue">
                                Hispanic Distribution
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-red">
                            <div class="panel-body">
                                <i class="fa fa fa-comments fa-5x"></i>
                                <h3>{{ raceDist }} </h3>
                            </div>
                            <div class="panel-footer back-footer-red">
                                Race Distribution
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-brown">
                            <div class="panel-body">
                                <h3>{{perfDist}} </h3>
                            </div>
                            <div class="panel-footer back-footer-brown">
                                Student Performance Distribution
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Learning Performance Comprison
                                <select name="studSankeyPlot" id ="studSankeyPlot" style="width:18%;height:30px;position: right;" >
                                    <option>gender</option>
                                    <option>race (X)</option>
                                    <option>hispanic_ethnicity</option>
                                </select>
                            </div>
                            <div class="panel-body" id = 'rainFallGender'>
                                {{rainFallDist}}
                            </div>
                            <div class="panel-body" id = 'rainFallHisp'>
                                {{rainFallDistHisp}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Learning Performance Distribution
                                <select name="studBoxPlot" id ="studBoxPlot" style="width:25%;height:30px;position: right;" >
                                    <option>gender</option>
                                    <option>race</option>
                                    <option>hispanic_ethnicity</option>
                                </select>
                            </div>
                            <div class="panel-body" id="boxplotGender">
                                {{boxplotGender}}
                            </div>
                            <div class="panel-body" id = "boxplotRace">
                                {{boxplotRace}}
                            </div>
                            <div class="panel-body" id = "boxplotHisp">
                                {{boxplotHisp}}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /. ROW  -->
                <div class ="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Students Practice on Each Section
                            </div>
                            <div class="panel-body">
                                {{sankeyQuestion}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Learning Practice Comparison
                                <select name="studDynamicAct" id ="studDynamicAct" style="width:18%;height:30px;position: right;" >
                                    <option>gender</option>
                                    <option>race</option>
                                    <option>hispanic_ethnicity</option>
                                </select>
                            </div>
                            <div class="panel-body" id = 'genderTimeLine'> 
                                {{genderTimeline}}
                            </div>
                        
                            <div class="panel-body" id = 'raceTimeLine'>
                                {{timelineRace}}
                            </div>
                            <div class="panel-body" id = 'hispTimeLine'>
                                {{timelineHisp}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Learning Activeness Investigation
                            </div>
                            <div class="panel-body">
                                {{quesDist}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->
				<footer><p>All right reserved. Implemented by: <a href="https://bopei.github.io/">Bo Pei</a></p></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->

    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    <!-- Bootstrap Js -->

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Metis Menu Js -->

    <script src="{{url_for('static',filename='js/jquery.metisMenu.js')}}"></script>
    <!-- Morris Chart Js -->

    <script src="{{url_for('static',filename='js/morris/raphael-2.1.0.min.js')}}"></script>

    <script src="{{url_for('static',filename='js/morris/morris.js')}}"></script>
    <!-- Custom Js -->
    <script src="{{url_for('static',filename='js/custom-scripts.js')}}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>