{%extends "layout.html"%}
    {%block content%}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Useraccount_id</a>
                    <small class="text-muted">{{ genderDist }}</small>
                </div>
                <h2>
                    {# <a class="article-title" href="#">User Performance</a> #}
                </h2>
                <p class="article-content">{{ genderDist }}</p>
            </div>
        </article>
    {%endblock content%}
